body {
      
    min-height: 100vh;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: auto 1fr;
    grid-template-areas:"A A  . B" "C AB AB AB";
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
 
  }

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #660080;
    font-size: 40px;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
  }
#box1{
    background-color: #b593c9;
    grid-area: A;
    height: 80px; 
  }
#box2{
    background-color: #bba7c7;
    grid-area: none;
  }


#box3{
    background-color: #b593c9;
    grid-area: B;
    height: 80px; 
  }

#box4{
    background-color: #b593c9;
    grid-area: C;
  }
#box5{
    background-color: #b593c9;
    grid-area: AB;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }

.t{
    background-color: #a874c5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #660080;
    font-size: 40px;
    font-weight: bold;
    width: 90%;
    height: 90%;
  }